---
title: "Moro and Mike"
permalink: "/moro-and-mike/about"
---
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Moro and Mike</h1>
		<p>"Moro and Mike" was a weekly livestream discussing the cybersecurity profession practice. Our topics included leadership, management, job hunting, career development, emotional intelligence, threat intelligence, situational awareness and more. We go beyond the technology to discuss the professional practice of cybersecurity and IT.</p>
		
        <h4 class="font-weight-bold spanborder" id="livestreams">Podcasts</h4>
		<p>Moro and Mike is recorded live on YouTube, but past episodes are available in podcast (audio-only) format on <a href="https://podcasts.apple.com/ca/podcast/moro-and-mike/id1523514571">iTunes</a>, <a href="https://open.spotify.com/show/0YK3VLKedbZ3YZyj33v7Cq?si=PtWdFp3ATJ21jhnp3TRvdw">Spotify</a>, and <a href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuY3liZXJsaWJyYXJpYW4uY2EvbW9yby1hbmQtbWlrZS9wb2RjYXN0LnJzcw?sa=X&ved=0CAYQrrcFahcKEwi4zImFw-TqAhUAAAAAHQAAAAAQAQ">Google Podcasts</a>. Search for "Moro and Mike".</p>
		<p>&nbsp;</p>

        <h4 class="font-weight-bold spanborder" id="livestreams"><span>Past Livestreams</span></h4>
        {% assign posts = site.posts | where:"categories","Moro and Mike" %}
        {% for post in posts %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}         
          - {% post.title %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign posts = nil %}
        {% assign group = nil %}
        </div>
    </div>
</div>
