---
title: "Moro and Mike"
layout: default
permalink: "/moro-and-mike/about"
---
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Moro and Mike</h1>
		<p>"Moro and Mike" is a weekly livestream discussing the cybersecurity profession practice. Our topics includes leadership, management, job hunting, career development, emotional intelligence, threat intelligence, situational awareness and more. We go beyond the technology to discuss the professional practice of cybersecurity and IT.</p>
		
		<h2 class="font-weight-bold spanborder" id="future-topics">Future Topics</h2>
		<p>This is a tentative list of future livestreams. Some guests are still TBD. Please contact us if you or someone you know might be a great guest for one of these topics.</p>
		<table style="border: 1px solid black; border-collapse: collapse; padding: 0.5em;">
		  <tr>
		    <th style="border: 1px solid black; white-space:nowrap; width:7em;">Date</th style="border: 1px solid black;">
			<th style="border: 1px solid black;">Topic</th style="border: 1px solid black;">
			<th style="border: 1px solid black;">Guests</th style="border: 1px solid black;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-07-30</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Threat Intelligence</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Alec&nbsp;Mather-Shapiro and Chris&nbsp;McNeil</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-08-06</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Rejection: It's not the end of the world and how to deal with it</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-08-13</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Futurism: When will the future arrive</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Warren&nbsp;Lafountain</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-08-20</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Mentorship: What it means to be a mentor or a protege</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-08-27</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Mentorship: Finding a mentor</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-09-03</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-09-10</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Management: Is it for you? Do you have what it takes?</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
 		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-09-17</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Mentorship: Peer-mentorship and your team</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-09-24</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">Leadership: Being a great boss</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		  <tr>
		    <td style="border: 1px solid black; vertical-align:top;">2020-10-01</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
			<td style="border: 1px solid black; vertical-align:top;">TBD</td style="border: 1px solid black; vertical-align:top;">
		  </tr>
		</table>
		<p>&nbsp;</p>

        <h4 class="font-weight-bold spanborder" id="livestreams">Podcasts</h4>
		<p>Moro and Mike is recorded live on YouTube, but past episodes are available in podcast (audio-only) format on <a href="https://podcasts.apple.com/ca/podcast/moro-and-mike/id1523514571">iTunes</a>, <a href="https://open.spotify.com/show/0YK3VLKedbZ3YZyj33v7Cq?si=PtWdFp3ATJ21jhnp3TRvdw">Spotify</a>, and <a href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuY3liZXJsaWJyYXJpYW4uY2EvbW9yby1hbmQtbWlrZS9wb2RjYXN0LnJzcw?sa=X&ved=0CAYQrrcFahcKEwi4zImFw-TqAhUAAAAAHQAAAAAQAQ">Google Podcasts</a>. Search for "Moro and Mike".</p>
		<p>&nbsp;</p>

        <h4 class="font-weight-bold spanborder" id="livestreams"><span>Upcoming and Past Livestreams</span></h4>
        {% assign pages_list = 'Moro and Mike' %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
        </div>
        <div class="col-md-4">
        {% include sidebar-featured.html %}    
        </div>
    </div>
</div>